
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=New+Amsterdam&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
  margin: 0;
  padding: 0;
  
}

body{
  background: #9363cc;
  /* background: linear-gradient(to right, #642b73, #c6426e);*/
}

h1{
  font-family: 'Inconsolata';
}
p{
  font-size: 25px;
  font-family: 'Inconsolata';
}

form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form input{
  color: rebeccapurple;
}
form p{
  color: white;
  font-size: 20px;
  padding: 20px;
}

.errors{
  color: #fff;
  font-size: 13px;
  margin-bottom: 10px;
  background: red;
  padding: 5px;
  border-radius:0 10px 10px 10px;
}
